<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/themes/base/css")
    <style>
        body{
            padding-top: 60px;
        }
    </style>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Bootstrap")
    @RenderSection("scripts", required: false)
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav" id="menus">

            </ul>
        </div>
    </nav>
    @RenderBody()
    <!-- DIALOGO -->
    <div id="dialogo" style="display:none;"><div class="notify"></div></div>

    <script>


        /**
	     * Muestra una ventana emergente
	     * con un mensaje especificado.
	     * Si se le envía el parametro no_cerrar, no muestra
	     * boton de cerrar
	     */
            function dialogo(title, message, no_cerrar) {
                var no_cerrar = no_cerrar || false;
                if (no_cerrar) {
                    my_buttons = {};
                    var closeOnEscape = false;
                } else {
                    var my_buttons = { "Cerrar": function () { $("#dialogo").dialog("close"); } };
                    var closeOnEscape = true;
                }
                $('.notify').html(message);
                $("#dialogo").dialog({
                    autoOpen: true,
                    width: 400,
                    title: title,
                    modal: true,
                    resizable: false,
                    closeOnEscape: closeOnEscape,
                    buttons: my_buttons,
                    open: function (event, ui) {
                        if (no_cerrar != null) {
                            $(".ui-dialog-titlebar-close", ui.dialog).hide();
                        } else {
                            $(".ui-dialog-titlebar-close", ui.dialog).show();
                        }
                    },
                    close: function (event, ui) {
                        $(".ui-dialog-titlebar-close", ui.dialog).show();
                    }
                });
            };

        $(document).on("ready", function () {
            GetMenu();
        });

        function GetMenu() {
            var table = $("#menus");
            var f = "";
            $.ajax({
                url: "@Url.Action("getMenu", "Inicio")",
                type: "post",
            dataType: "json",
            beforeSend: function () {
                
            },
            success: function (data) {
                table.empty();
                $.each(data, function (k, v) {
                    if (data) {
                        f += "<li class='dropdown'>";
                        f += "<a href='#' class='dropdown-toggle' data-toggle='dropdown' type='button'>";
                        f += v.menu+" ";
                        f+= "<span class='caret'></span>"
                        f += "</a>";
                        f += "<ol class='dropdown-menu' id='"+v.menu+"'>";
                        f += "</ol>"
                        f += "</li>";
                        table.append(f);
                        getOpciones(v.menu);
                        f = "";
                    }
                });
            },
            error: function (x,y,z) {
                dialogo("Error", "Error en la función @Url.Action("getMenu", "Inicio")" + x.responseText + " " + y + " " + z);
            }
        });
        }

        function getOpciones(ME){
            var e = "";
            var lista = $("#" + ME + "");
            $.ajax({
                url : "@Url.Action("GetOpciones", "Inicio")",
                type: "post",
                dataType : "json",
                data: JSON.stringify({
                    menu: ME
                }),
                contentType: 'application/json; charset=utf-8',
                beforeSend: function () {
                },
                success : function (data){
                    lista.empty();
                    $.each(data,function(k,v){
                        if(data){
                            e += "<li><a href='#'>"+v.opcion+"</a></li>";
                            lista.append(e);
                            e = "";
                        }
                    });
                },
                error : function(x,y,z){
                    dialogo("Error", "Error en la función @Url.Action("GetOpciones", "Inicio")" + x.responseText + " " + y + " " + z);
                }
            });
        }
    </script>



</body>
</html>

